{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
    </div>
    {{- end }}
    <h1 class="post-title entry-hint-parent">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-hint" title="Draft">[Draft]</span></sup>{{- end }}
    </h1>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
  </header>
  
  {{- with .Params.image }}
  <div class="post-cover">
    <img src="{{ . }}" alt="{{ $.Title }}" style="max-width: 100%; height: auto; margin: 2rem 0;">
  </div>
  {{- end }}
  
  {{- $isHidden := (.Param "cover.hidden") | default (.Site.Params.cover.hidden) | default false }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- partial "post_tags.html" . -}}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}
